/*================================================
                    FONTE   
==================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
  
/*
==================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
===========================================
                GERAL
===========================================
*/

html{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }

  /*
==========================================
                TOPO
==========================================
*/

  a.book{
    text-decoration: none;
    color: black;
  }

  a.story{
    text-decoration: none;
    color: darkgray;
  }

  a.contact{
    text-decoration: none;
    color: darkgray;
  }
body main header section{
    margin: 4vw 10vw 5.5vw 10vw;
}
body main header section ul {
    display: flex;
    justify-content: right;
}
body main header section.navegacao nav ul li {
    margin: 0 10px 0 10px;
    padding: 0vw 2vw 0vw 2vw;
}

body main header section.navegacao nav ul li.Danny {
margin: 0 40vw 0 0;
}

body main header section.navegacao nav ul li strong {
    font-weight: bold;
}
body main h1 {
  margin: 0 0 0 12.5vw;
  font-size: 3.5rem;
  line-height: 140%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}
body main  section.banner span.verde{
  color: #80e7bc;
}
body main  section.banner p.texto{
  margin: 3vw 0 0 12.5vw;
  line-height: 140%;
}
body main section.banner button.botao{
background-color: black;
color: white;
border: none;
padding: 1vw 2vw 1vw 2vw;
margin: 3vw 0 0 12.5vw;
}
body main  section.banner  a.view{
color: black;
margin: 0 0 0 4rem;
}
section.banner{
  display: flex;
}
section.banner div.imagem{
  margin: 0 0 0 8vw;
}
section.banner{
  background-color: rgb(240, 241, 241);
}
section.banner h2{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vw 0 3vw 0;
}
h2.semSection{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vw 0 3vw 0;
}
section.tabela h2{

  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vw 0 3vw 0;

}
section.textos{
  display: flex;
  justify-content: center;
}
section.textos div{
  display: flex;
  position: relative;
}
section.textos div.um p{
position: absolute;
top: 20%;
line-height: 160%;
margin: 0 10vw 0 13vw;
}
section.textos div.dois p{
  position: absolute;
  top: 30%;
  line-height: 160%;
  margin: 0 10vw 0 10vw;
  }
  section.textos div.tres p{
    position: absolute;
    top: 30%;
    line-height: 160%;
    margin: 0 10vw 0 13vw;
    }
    section.textos div.um img{
      margin: 0 10vw 0 0;
    }
    section.textos div.dois img{
      margin: 0 0 0 40vw;
    }
    section.textos div.tres img{
      margin: 0 10vw 0 0;
    }
    section.tabela div.abc{
      display: flex;
      margin: 0 0 5vw 0;
    }
    section.tabela div.separacao p{
      margin: 1vw 10vw 0vw 20vw;
    }
    section.tabela div.divTabela{
      margin: 6.6vw 0 0 0;
    }
    section.tabela img{
    
    }